body{
padding: 60px;
}
ul.nav{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.nav a{
	display: block;
	width: 200px;
	background-color: teal;
	line-height: 1,5em;
	padding: 3px;
	border: 2px solid gray;
	padding: 4px;
	color: black;
	border-radius: 3px;
	text-decoration: none;
	font-size: 1.3em;
	margin: 2px;
}
ul.nav2{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}
ul.nav2 li{
	display: inline;
}
ul.nav2 a{
	display: inline-block;
	border: 1px dashed seagreen;
	padding: 5px 10px;
	background: sienna;
	text-decoration: none;
	color: beige;
	border-radius: 10px;
}


/* a.buttom{
border: 2px solid gray;
padding: 4px;
background-color: peachpuff;
color: black;
border-radius: 3px;
text-decoration: none;
font-size: 1.3em;
} */
/* a.buttom:hover{ при наведении меняет
	border: 2px solid red;
	padding: 4px;
	background-color: peachpuff;
	color: white;
	border-radius: 3px;
	text-decoration: none;
	font-size: 1.3em;
} */
	/* span.buttom2{
		position: relative;
		background-position: left top;
		width: 25px;
		height: 34px;
		background-image: url(../images/nav.png);
		background-repeat: no-repeat;
		background-origin: content-box;
		display: inline-block;
	}
	span.buttom2:hover{
		background-position: left top -34px;
		cursor: pointer;
		background-origin: content-box;
	} */

/* background: url(../images/fon.jpg) center center / 40% no-repeat fixed #444444; */
/* background-image: url(../images/fon.jpg),
					 url(../images/1.png);
background-repeat: no-repeat;  */
/* background-position:  300px 300px; */
/* background-attachment: fixed; */
/* background-origin: border-box; */
/* background-size: contain; */
/* } */
/* p{
	background-image: linear-gradient(10deg, gray, white);
	background-image: linear-gradient(yellow, transparent),
						linear-gradient(120deg, green, transparent),
						linear-gradient(200deg, blue, transparent);
} */
/* p.test1{ 
	background-image: linear-gradient(yellow, transparent),
						linear-gradient(120deg, green, transparent),
						linear-gradient(200deg, blue, transparent);
}
p.test2{
	background-image: radial-gradient(circle, red,blue,yellow);
} */